<!DOCTYPE html>
<html lang="ja" dir="ltr">
	<head>
		<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/ website#">
		<meta property="og:url" content="https://how-about-such-a-service.netlify.com/" />		
		<meta property="og:type" content="website" />		
		<meta property="og:title" content="How about such a service" />		
		<meta property="og:description" content="サービスアイディアを考えるためのサービスです。既にあるアイディアを組み合わせて、どんなアイディアが生まれるか、想像してみましょう。" />		
		<meta property="og:site_name" content="How about such a service" />		
		<meta property="og:image" content="https://user-images.githubusercontent.com/29177665/50726700-3a9fff80-1154-11e9-850f-1666c36a9027.png" />
		<meta charset="utf-8">
		<title>How about such a service</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
		<!-- 開発用 -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet" href="./index.css">
	</head>
	<body>
		<div id="app">
			<div class="card">
					<div class="loader" v-if="!datas.modifier"></div>
					<p class="theme">{{ datas.modifier }} {{ datas.service }}</p>
					<p v-if="datas.modifier">どんなサービス？</p>
			</div>
			<img src="./discussion.png" alt="">
			<div class="button" v-on:click.prevent="reload">発想を変える</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
